.card {
    border-radius: 1rem;
    background-color: ghostwhite;
}

.img-fluid {
    border-radius: 1rem 0 0 1rem;
    width: 500px;
    height: 671.5px;
}

.fw-normal {
    letter-spacing: 1px;
}

.paragraph, .link {
    color: #393f81;
}

#whole {
    background-image: linear-gradient(to bottom left,#393f81,ghostwhite,white);
}
